Repository jss-mc2/Cheffin, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, core, resource, domain, data, presentation, feature, test, documentation

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

core:
  - Cheffin/Core/**

resource:
  - Cheffin/Resource/**

domain:
  - Cheffin/Features/**/Domain/**

data:
  - Cheffin/Features/**/Data/**

presentation:
  - Cheffin/Features/**/Presentation/**

feature:
  - Cheffin/Features/**

test:
  - CheffinTests/**
  - CheffinUITests/**

documentation:
  - README.md
  - ./*.md

docs: update CODEOWNERS
  .github/CODEOWNERS
Labels: none

docs: update tech best practice
  Cheffin/Core/Presentation/Pages/SwiftUIKitViewController.swift
  Cheffin/Features/Recipes/Presentation/Pages/ViewController.swift
  Cheffin/Resources/Strings+Generated.swift
  Cheffin/Resources/XCAssets+Generated.swift
  README.md
Labels: core, presentation, feature, documentation

feat: adding new entities to domain. CU-860r66f4g
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Domain/Entities/Ingredient.swift
  Cheffin/Features/Recipes/Domain/Entities/Instruction.swift
  Cheffin/Features/Recipes/Domain/Entities/Recipe.swift
  Cheffin/Features/Recipes/Domain/Entities/StepByStep.swift
  Cheffin/Features/Recipes/Domain/Entities/Utensil.swift
Labels: domain, feature

feat: add repository to domain CU-860r66e38
  Cheffin/Features/Recipes/Domain/Repositories/RecipeRepository.swift
Labels: domain, feature

feat: add usecase and fixing usecase protocol CU-860r66ed4 CU-860r66f1g
  Cheffin/Core/DI/InjectionContainer.swift
  Cheffin/Core/Domain/UseCases/UseCase.swift
  Cheffin/Features/Recipes/Domain/UseCases/GetRecipes.swift
Labels: core, domain, feature

feat: add data models
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Data/Models/IngredientResponse.swift
  Cheffin/Features/Recipes/Data/Models/InstructionResponse.swift
  Cheffin/Features/Recipes/Data/Models/RecipeApiResponse.swift
  Cheffin/Features/Recipes/Data/Models/RecipeResponse.swift
  Cheffin/Features/Recipes/Data/Models/UtensilResponse.swift
Labels: data, feature

feat: add remote data source
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/DI/InjectionContainer.swift
  Cheffin/Core/Utils/ApiConstants.swift
  Cheffin/Features/Recipes/Data/DataSources/RecipeRemoteDataSource.swift
  Cheffin/Features/Recipes/Data/Models/IngredientResponse.swift
  Cheffin/Features/Recipes/Data/Models/InstructionResponse.swift
  Cheffin/Features/Recipes/Data/Models/RecipeApiResponse.swift
  Cheffin/Features/Recipes/Data/Models/RecipeResponse.swift
  Cheffin/Features/Recipes/Data/Models/UtensilResponse.swift
  Cheffin/Features/Recipes/Domain/Entities/Instruction.swift
  Cheffin/Features/Recipes/Domain/Entities/Recipe.swift
  Cheffin/Features/Recipes/Domain/Entities/StepByStep.swift
  Cheffin/Features/Recipes/Domain/Repositories/RecipeRepository.swift
  Cheffin/Features/Recipes/Domain/UseCases/GetRecipes.swift
Labels: core, domain, data, feature

feat: add repository impl
  Cheffin/Features/Recipes/Data/DataSources/RecipeRemoteDataSource.swift
  Cheffin/Features/Recipes/Data/Models/IngredientResponse.swift
  Cheffin/Features/Recipes/Data/Models/InstructionResponse.swift
  Cheffin/Features/Recipes/Data/Models/RecipeResponse.swift
  Cheffin/Features/Recipes/Data/Models/UtensilResponse.swift
  Cheffin/Features/Recipes/Data/Repositories/RecipeRepositoryImpl.swift
  Cheffin/Features/Recipes/Domain/Entities/Instruction.swift
Labels: domain, data, feature

feat: add missing injection for repository
  Cheffin/Core/DI/InjectionContainer.swift
Labels: core

fix: use rawValue instead of string literal
  Cheffin/Features/Recipes/Domain/Entities/Instruction.swift
Labels: domain, feature

fix: use return type and params from associatedtypes
  Cheffin/Features/Recipes/Domain/Entities/Instruction.swift
  Cheffin/Features/Recipes/Domain/UseCases/GetRecipes.swift
Labels: domain, feature

feat: domain and data layer (#2)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/DI/InjectionContainer.swift
  Cheffin/Core/Domain/UseCases/UseCase.swift
  Cheffin/Core/Utils/ApiConstants.swift
  Cheffin/Features/Recipes/Data/DataSources/RecipeRemoteDataSource.swift
  Cheffin/Features/Recipes/Data/Models/IngredientResponse.swift
  Cheffin/Features/Recipes/Data/Models/InstructionResponse.swift
  Cheffin/Features/Recipes/Data/Models/RecipeApiResponse.swift
  Cheffin/Features/Recipes/Data/Models/RecipeResponse.swift
  Cheffin/Features/Recipes/Data/Models/UtensilResponse.swift
  Cheffin/Features/Recipes/Data/Repositories/RecipeRepositoryImpl.swift
  Cheffin/Features/Recipes/Domain/Entities/Ingredient.swift
  Cheffin/Features/Recipes/Domain/Entities/Instruction.swift
  Cheffin/Features/Recipes/Domain/Entities/Recipe.swift
  Cheffin/Features/Recipes/Domain/Entities/StepByStep.swift
  Cheffin/Features/Recipes/Domain/Entities/Utensil.swift
  Cheffin/Features/Recipes/Domain/Repositories/RecipeRepository.swift
  Cheffin/Features/Recipes/Domain/UseCases/GetRecipes.swift
Labels: core, domain, data, feature

feat: add localizable strings
  Cheffin/Core/DI/InjectionContainer.swift
  Cheffin/Resources/Strings+Generated.swift
  Cheffin/Resources/en.lproj/Localizable.strings
Labels: core

feat: add localizable strings (#3)
  Cheffin/Core/DI/InjectionContainer.swift
  Cheffin/Resources/Strings+Generated.swift
  Cheffin/Resources/en.lproj/Localizable.strings
Labels: core

feat: add color assets
  Cheffin/Resources/Assets.xcassets/Background.colorset/Contents.json
  Cheffin/Resources/Assets.xcassets/CloseButton.colorset/Contents.json
  Cheffin/Resources/Assets.xcassets/Highlight.colorset/Contents.json
  Cheffin/Resources/Assets.xcassets/Primary.colorset/Contents.json
  Cheffin/Resources/Assets.xcassets/TextPrimary.colorset/Contents.json
  Cheffin/Resources/XCAssets+Generated.swift
Labels: none

feat: add color assets (#4)
  Cheffin/Resources/Assets.xcassets/Background.colorset/Contents.json
  Cheffin/Resources/Assets.xcassets/CloseButton.colorset/Contents.json
  Cheffin/Resources/Assets.xcassets/Highlight.colorset/Contents.json
  Cheffin/Resources/Assets.xcassets/Primary.colorset/Contents.json
  Cheffin/Resources/Assets.xcassets/TextPrimary.colorset/Contents.json
  Cheffin/Resources/XCAssets+Generated.swift
Labels: none

feat: add unit test folder
  Cheffin.xcodeproj/project.pbxproj
  CheffinTests/CheffinTests.swift
Labels: test

feat: add unit test folder (#5)
  Cheffin.xcodeproj/project.pbxproj
  CheffinTests/CheffinTests.swift
Labels: test

feat: add InstructionParser
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Data/Models/InstructionResponse.swift
  Cheffin/Features/Recipes/Data/Models/RecipeResponse.swift
  Cheffin/Features/Recipes/Domain/Entities/Instruction.swift
  Cheffin/Features/Recipes/Domain/Entities/Recipe.swift
  Cheffin/Features/Recipes/Domain/Entities/StepByStep.swift
  Cheffin/Features/Recipes/Domain/Parser/InstructionParser.swift
Labels: domain, data, feature

test: add unit test for InstructionParser
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Domain/Parser/InstructionParser.swift
Labels: domain, feature

feat: add use case ViewStepByStepMode
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/DI/InjectionContainer.swift
  Cheffin/Features/Recipes/Data/DataSources/RecipeFakeDataSource.swift
  Cheffin/Features/Recipes/Domain/UseCases/ViewStepByStepMode.swift
Labels: core, domain, data, feature

feat: add timer attribute
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/DI/InjectionContainer.swift
  Cheffin/Features/Recipes/Domain/Entities/StepByStep.swift
  Cheffin/Features/Recipes/Domain/Parser/StepByStepParser.swift
  Cheffin/Features/Recipes/Domain/UseCases/ViewStepByStepMode.swift
Labels: core, domain, feature

feat: Add use case Step By Step Mode (#6)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/DI/InjectionContainer.swift
  Cheffin/Features/Recipes/Data/DataSources/RecipeFakeDataSource.swift
  Cheffin/Features/Recipes/Data/Models/InstructionResponse.swift
  Cheffin/Features/Recipes/Data/Models/RecipeResponse.swift
  Cheffin/Features/Recipes/Domain/Entities/Instruction.swift
  Cheffin/Features/Recipes/Domain/Entities/Recipe.swift
  Cheffin/Features/Recipes/Domain/Entities/StepByStep.swift
  Cheffin/Features/Recipes/Domain/Parser/StepByStepParser.swift
  Cheffin/Features/Recipes/Domain/UseCases/ViewStepByStepMode.swift
Labels: core, domain, data, feature

RecipeCard Component
  Cheffin.xcodeproj/project.pbxproj
  Cheffin.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
  Cheffin/Resources/Assets.xcassets/DummyImages/Contents.json
  Cheffin/Resources/Assets.xcassets/DummyImages/Recipe/Contents.json
  Cheffin/Resources/Assets.xcassets/DummyImages/Recipe/GarlicButterSteak.imageset/Contents.json
  Cheffin/Resources/Assets.xcassets/DummyImages/Recipe/GarlicButterSteak.imageset/GarlicButterSteak.png
  Cheffin/Resources/Assets.xcassets/DummyImages/Utensils/Contents.json
  Cheffin/Resources/Assets.xcassets/DummyImages/Utensils/Knife.imageset/001-knife 1.png
  Cheffin/Resources/Assets.xcassets/DummyImages/Utensils/Knife.imageset/Contents.json
  Cheffin/Resources/Assets.xcassets/DummyImages/Utensils/Thermometer.imageset/003-thermometer 1.png
  Cheffin/Resources/Assets.xcassets/DummyImages/Utensils/Thermometer.imageset/Contents.json
  Cheffin/Resources/Assets.xcassets/Highlight.colorset/Contents.json
  Cheffin/Resources/Assets.xcassets/Primary.colorset/Contents.json
  Cheffin/Resources/Assets.xcassets/TextPrimary.colorset/Contents.json
  Cheffin/Resources/Strings+Generated.swift
  Cheffin/Resources/XCAssets+Generated.swift
Labels: presentation, feature

feat: add WrappingHStack component, add ButtonHighlightHidden component, add SpeechRecognizer view
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/Components/ButtonHighlightHiddenView.swift
  Cheffin/Core/Presentation/Components/WrappingHStack.swift
  Cheffin/Core/Presentation/ViewModels/ButtonHighlightHiddenViewModel.swift
  Cheffin/Features/Recipes/Presentation/Components/SpeechRecognizerView.swift
Labels: core, presentation, feature

feat: add WrappingHStack component, add ButtonHighlightHidden component, add SpeechRecognizer view (#7)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/Components/ButtonHighlightHiddenView.swift
  Cheffin/Core/Presentation/Components/WrappingHStack.swift
  Cheffin/Core/Presentation/ViewModels/ButtonHighlightHiddenViewModel.swift
  Cheffin/Features/Recipes/Presentation/Components/SpeechRecognizerView.swift
Labels: core, presentation, feature

Update RecipeCard.swift
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
Labels: presentation, feature

Init Page
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Presentation/Components/StepByStepImage.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepProgress.swift
Labels: presentation, feature

Update RecipeCard.swift
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
Labels: presentation, feature

feat: Create RecipeCard Component (#8)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
  Cheffin/Resources/Assets.xcassets/DummyImages/Contents.json
  Cheffin/Resources/Assets.xcassets/DummyImages/Recipe/Contents.json
  Cheffin/Resources/Assets.xcassets/DummyImages/Recipe/GarlicButterSteak.imageset/Contents.json
  Cheffin/Resources/Assets.xcassets/DummyImages/Recipe/GarlicButterSteak.imageset/GarlicButterSteak.png
  Cheffin/Resources/Assets.xcassets/DummyImages/Utensils/Contents.json
  Cheffin/Resources/Assets.xcassets/DummyImages/Utensils/Knife.imageset/001-knife 1.png
  Cheffin/Resources/Assets.xcassets/DummyImages/Utensils/Knife.imageset/Contents.json
  Cheffin/Resources/Assets.xcassets/DummyImages/Utensils/Thermometer.imageset/003-thermometer 1.png
  Cheffin/Resources/Assets.xcassets/DummyImages/Utensils/Thermometer.imageset/Contents.json
  Cheffin/Resources/Assets.xcassets/Highlight.colorset/Contents.json
  Cheffin/Resources/Assets.xcassets/Primary.colorset/Contents.json
  Cheffin/Resources/Assets.xcassets/TextPrimary.colorset/Contents.json
  Cheffin/Resources/Strings+Generated.swift
  Cheffin/Resources/XCAssets+Generated.swift
Labels: presentation, feature

feat: add viewmodel to recipe
  Cheffin.xcodeproj/project.pbxproj
  Cheffin.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Cheffin/Core/Presentation/ViewModels/State.swift
  Cheffin/Core/Presentation/ViewModels/ViewModel.swift
  Cheffin/Core/Utils/FailureHandler.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/RecipeViewModel.swift
  Cheffin/Resources/Strings+Generated.swift
  Cheffin/Resources/XCAssets+Generated.swift
  Cheffin/Resources/en.lproj/Localizable.strings
Labels: core, presentation, feature

chore: package resolved
  Cheffin.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

chore: fixing conflicted pbxproj
  Cheffin.xcodeproj/project.pbxproj
  Cheffin.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

feat: recipe view model (#9)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Cheffin/Core/Presentation/ViewModels/State.swift
  Cheffin/Core/Presentation/ViewModels/ViewModel.swift
  Cheffin/Core/Utils/FailureHandler.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/RecipeViewModel.swift
  Cheffin/Resources/Strings+Generated.swift
  Cheffin/Resources/XCAssets+Generated.swift
  Cheffin/Resources/en.lproj/Localizable.strings
Labels: core, presentation, feature

chore: fixing conflicted pbxproj
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/ViewModels/ViewModel.swift
  Cheffin/Core/Presentation/ViewModels/ViewModelState.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/RecipeViewModel.swift
Labels: core, presentation, feature

chore: fixing conflicted pbxproj (#10)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/ViewModels/ViewModel.swift
  Cheffin/Core/Presentation/ViewModels/ViewModelState.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/RecipeViewModel.swift
Labels: core, presentation, feature

chore: fixing missing import file
  Cheffin.xcodeproj/project.pbxproj
Labels: none

fix: pbx proj (#11)
  Cheffin.xcodeproj/project.pbxproj
Labels: none

feat: add TimerView
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/Components/MultiPickerTime.swift
  Cheffin/Core/Presentation/Components/TimerView.swift
  Cheffin/Core/Utils/TimeInterval+FORMATTER.swift
Labels: core

refactor: separate TimerViewModel to a different file
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/Components/TimerView.swift
  Cheffin/Core/Presentation/ViewModels/TimerViewModel.swift
Labels: core
