Repository jss-mc2/Cheffin, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, core, resource, domain, data, presentation, feature, test, documentation

feat: add StepByStepPageView
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/Components/ButtonHighlightHiddenView.swift
  Cheffin/Core/Presentation/Components/TimerView.swift
  Cheffin/Core/Presentation/ViewModels/ButtonHighlightHiddenViewModel.swift
  Cheffin/Core/Presentation/ViewModels/PageViewModel.swift
  Cheffin/Core/Presentation/ViewModels/TimerViewModel.swift
  Cheffin/Features/Recipes/Domain/Entities/StepByStep.swift
  Cheffin/Features/Recipes/Presentation/Components/SpeechRecognizerView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepView.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
Labels: core, domain, presentation, feature

add SpeechRecognizerViewModel
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/ViewModels/SpeechRecognizer/SpeechRecognizerViewModel+Error.swift
  Cheffin/Core/Presentation/ViewModels/SpeechRecognizer/SpeechRecognizerViewModel+MAPPING.swift
  Cheffin/Core/Presentation/ViewModels/SpeechRecognizer/SpeechRecognizerViewModel.swift
  Cheffin/Core/Utils/AVAudioSession+Authorization.swift
  Cheffin/Core/Utils/SFSpeechRecognizer+Authorization.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView+SpeechRecognizerViewModel.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
Labels: core, presentation, feature

feat: add SpeechRecognizerViewModel (#14)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/ViewModels/SpeechRecognizer/SpeechRecognizerViewModel+Error.swift
  Cheffin/Core/Presentation/ViewModels/SpeechRecognizer/SpeechRecognizerViewModel+MAPPING.swift
  Cheffin/Core/Presentation/ViewModels/SpeechRecognizer/SpeechRecognizerViewModel.swift
  Cheffin/Core/Utils/AVAudioSession+Authorization.swift
  Cheffin/Core/Utils/SFSpeechRecognizer+Authorization.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView+SpeechRecognizerViewModel.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
Labels: core, presentation, feature

add unit tests
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView+SpeechRecognizerViewModel.swift
  CheffinTests/Core/Presentation/ViewModels/SpeechRecognizerViewModelTest.swift
  CheffinTests/Features/Recipes/Domain/Parser/StepByStepParserTest.swift
Labels: presentation, feature, test

Update StepByStep
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/Components/ButtonHighlightHiddenView.swift
  Cheffin/Features/Recipes/Domain/Entities/StepByStep.swift
  Cheffin/Features/Recipes/Presentation/Components/SpeechRecognizerView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepImage.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepProgress.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepView.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  Cheffin/Resources/XCAssets+Generated.swift
Labels: core, domain, presentation, feature

Bug Fixing
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Presentation/Components/SpeechRecognizerView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageView+SpeechRecognizerViewModel.swift
  Cheffin/Resources/Assets.xcassets/TextPrimary.colorset/Contents.json
Labels: presentation, feature

feat: add recipe pages
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Application/SceneDelegate.swift
  Cheffin/Core/DI/InjectionContainer.swift
  Cheffin/Core/Presentation/Pages/SwiftUIKitViewController.swift
  Cheffin/Features/Recipes/Data/DataSources/RecipeFakeDataSource.swift
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
  Cheffin/Features/Recipes/Presentation/Pages/HomePage.swift
  Cheffin/Features/Recipes/Presentation/Pages/HomeViewController.swift
Labels: core, data, presentation, feature

feat: add unit tests for SpeechRecognizerViewModel and StepByStepParser (#15)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView+SpeechRecognizerViewModel.swift
  CheffinTests/Core/Presentation/ViewModels/SpeechRecognizerViewModelTest.swift
  CheffinTests/Features/Recipes/Domain/Parser/StepByStepParserTest.swift
Labels: presentation, feature, test

feat: add navigation on Tap
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Presentation/Pages/HomePage.swift
  Cheffin/Features/Recipes/Presentation/Pages/HomeViewController.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipeViewController.swift
Labels: presentation, feature

Resolve Conflict
  Cheffin/Features/Recipes/Domain/Entities/StepByStep.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepView.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
Labels: domain, presentation, feature

feat: add feature/StepByStep (#16)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/Components/ButtonHighlightHiddenView.swift
  Cheffin/Features/Recipes/Domain/Entities/StepByStep.swift
  Cheffin/Features/Recipes/Presentation/Components/SpeechRecognizerView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepView.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageView+SpeechRecognizerViewModel.swift
  Cheffin/Resources/Assets.xcassets/TextPrimary.colorset/Contents.json
  Cheffin/Resources/XCAssets+Generated.swift
Labels: core, domain, presentation, feature

feat: add home pages (#17)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Application/SceneDelegate.swift
  Cheffin/Core/DI/InjectionContainer.swift
  Cheffin/Core/Presentation/Pages/SwiftUIKitViewController.swift
  Cheffin/Features/Recipes/Data/DataSources/RecipeFakeDataSource.swift
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
  Cheffin/Features/Recipes/Presentation/Pages/HomePage.swift
  Cheffin/Features/Recipes/Presentation/Pages/HomeViewController.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipeViewController.swift
  Cheffin/Features/Recipes/Presentation/Pages/ViewController.swift
Labels: core, data, presentation, feature

fix: injection and color assets
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/DI/InjectionContainer.swift
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
  Cheffin/Resources/Assets.xcassets/BlackText.colorset/Contents.json
  Cheffin/Resources/XCAssets+Generated.swift
Labels: core, presentation, feature

fix: injection and color assets (#19)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/DI/InjectionContainer.swift
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
  Cheffin/Resources/Assets.xcassets/BlackText.colorset/Contents.json
  Cheffin/Resources/XCAssets+Generated.swift
Labels: core, presentation, feature

feat: add InstructionHighlight component to handle StepByStep.instruction variable
  .swiftlint.yml
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Presentation/Components/InstructionHighlight.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepView.swift
Labels: presentation, feature

rename component according to clickup task
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Presentation/Components/StepByStepDescriptionView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepView.swift
Labels: presentation, feature

update comment
  Cheffin/Features/Recipes/Presentation/Components/StepByStepDescriptionView.swift
Labels: presentation, feature

feat: add StepByStepDescriptionView (#20)
  .swiftlint.yml
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Presentation/Components/StepByStepDescriptionView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepView.swift
Labels: presentation, feature

REFACTOR CODE
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Domain/Entities/StepByStep.swift
  Cheffin/Features/Recipes/Presentation/Components/PlayerView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepView.swift
Labels: domain, presentation, feature

fix: missing steps and fixing button
  Cheffin/Features/Recipes/Presentation/Components/IngredientsGridView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepsView.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
Labels: presentation, feature

chore: tidy up some line of code
  Cheffin/Features/Recipes/Presentation/Components/StepsView.swift
Labels: presentation, feature

refactor: move logic to view model
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/Components/ButtonHighlight.swift
  Cheffin/Core/Presentation/Components/ButtonHighlightHiddenView.swift
  Cheffin/Core/Presentation/Components/PageView.swift
  Cheffin/Core/Presentation/Components/TimerView.swift
  Cheffin/Core/Presentation/ViewModels/ButtonHighlightHiddenViewModel.swift
  Cheffin/Core/Presentation/ViewModels/ButtonHighlightViewModel.swift
  Cheffin/Core/Presentation/ViewModels/PageViewModel.swift
  Cheffin/Core/Presentation/ViewModels/TimerViewModel.swift
  Cheffin/Features/Recipes/Presentation/Components/SpeechRecognizerView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepProgressView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepTitleView.swift
  Cheffin/Features/Recipes/Presentation/Components/VisualCueView.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageView+SpeechRecognizerViewModel.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/VisualCueViewModel.swift
Labels: core, presentation, feature

refactor: viewmodel stepbysteppageviewmodel (#22)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/Components/ButtonHighlight.swift
  Cheffin/Core/Presentation/Components/ButtonHighlightHiddenView.swift
  Cheffin/Core/Presentation/Components/PageView.swift
  Cheffin/Core/Presentation/Components/TimerView.swift
  Cheffin/Core/Presentation/ViewModels/ButtonHighlightHiddenViewModel.swift
  Cheffin/Core/Presentation/ViewModels/ButtonHighlightViewModel.swift
  Cheffin/Core/Presentation/ViewModels/PageViewModel.swift
  Cheffin/Core/Presentation/ViewModels/TimerViewModel.swift
  Cheffin/Features/Recipes/Presentation/Components/SpeechRecognizerView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepProgressView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepTitleView.swift
  Cheffin/Features/Recipes/Presentation/Components/VisualCueView.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageView+SpeechRecognizerViewModel.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/VisualCueViewModel.swift
  CheffinTests/Core/Presentation/ViewModels/SpeechRecognizerViewModelTest.swift
Labels: core, presentation, feature, test

feat: refactor feature/StepByStep (#21)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Domain/Entities/StepByStep.swift
  Cheffin/Features/Recipes/Presentation/Components/PlayerView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepView.swift
Labels: domain, presentation, feature

feat: recipe detail
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/DI/InjectionContainer.swift
  Cheffin/Features/Recipes/Data/DataSources/RecipeFakeDataSource.swift
  Cheffin/Features/Recipes/Presentation/Components/IngredientsGridView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepsView.swift
  Cheffin/Features/Recipes/Presentation/Components/UtensilsGridView.swift
  Cheffin/Features/Recipes/Presentation/Pages/HomeViewController.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipeViewController.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/RecipeDetailViewModel.swift
Labels: core, data, presentation, feature

fix: TimerViewModel do not play sound in real device
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/ViewModels/TimerViewModel.swift
  Cheffin/Resources/mixkit-alarm-digital-clock-beep-989.wav
Labels: core

feat: add tap gesture
  Cheffin/Core/Presentation/Components/PageView.swift
Labels: core

refactor: prevent bug incase speechrecognizer is turned on outside the step by step page view
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: presentation, feature

feat: recipe detail (#23)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/DI/InjectionContainer.swift
  Cheffin/Core/Presentation/Components/PageView.swift
  Cheffin/Core/Presentation/ViewModels/TimerViewModel.swift
  Cheffin/Features/Recipes/Data/DataSources/RecipeFakeDataSource.swift
  Cheffin/Features/Recipes/Presentation/Components/IngredientsGridView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepsView.swift
  Cheffin/Features/Recipes/Presentation/Components/UtensilsGridView.swift
  Cheffin/Features/Recipes/Presentation/Pages/HomeViewController.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipeViewController.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/RecipeDetailViewModel.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
  Cheffin/Resources/mixkit-alarm-digital-clock-beep-989.wav
Labels: core, data, presentation, feature

fix: AVPlayer did not update on next page
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/Components/PageView.swift
  Cheffin/Core/Presentation/ViewModels/TextToSpeech.swift
  Cheffin/Features/Recipes/Presentation/Components/PlayerView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepView.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: core, presentation, feature

fix: clean text before converting it to speech
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/ViewModels/TextToSpeech.swift
  Cheffin/Core/Utils/String+Delimiters.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepDescriptionView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: core, presentation, feature

fix: speechrecognizer change AVAudioSession.sharedInstance().category to playAndRecord causing text to speech volume to be very low
  Cheffin/Core/Presentation/ViewModels/SpeechRecognizer/SpeechRecognizerViewModel.swift
  Cheffin/Core/Presentation/ViewModels/TextToSpeech.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: core, presentation, feature

fix: merapikan ui home dan recipe
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Utils/Image+CenterCrop.swift
  Cheffin/Features/Recipes/Presentation/Components/IngredientsGridView.swift
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
  Cheffin/Features/Recipes/Presentation/Components/UtensilsGridView.swift
  Cheffin/Features/Recipes/Presentation/Pages/HomePage.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipeViewController.swift
Labels: core, presentation, feature

feat: add text to speech and fix video player bug (#24)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/Components/PageView.swift
  Cheffin/Core/Presentation/ViewModels/SpeechRecognizer/SpeechRecognizerViewModel.swift
  Cheffin/Core/Presentation/ViewModels/TextToSpeech.swift
  Cheffin/Core/Utils/String+Delimiters.swift
  Cheffin/Features/Recipes/Presentation/Components/PlayerView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepDescriptionView.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepView.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: core, presentation, feature

refactor: use VisualCueKey instead of string
  Cheffin/Features/Recipes/Presentation/Components/VisualCueView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/VisualCueViewModel.swift
Labels: presentation, feature

fix: separate string
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Utils/String+Delimiters.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepDescriptionView.swift
  CheffinTests/Core/Utils/String+DelimitersTest.swift
Labels: core, presentation, feature, test

fix: merapikan ui home dan recipe (#25)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Utils/Image+CenterCrop.swift
  Cheffin/Features/Recipes/Presentation/Components/IngredientsGridView.swift
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
  Cheffin/Features/Recipes/Presentation/Components/UtensilsGridView.swift
  Cheffin/Features/Recipes/Presentation/Pages/HomePage.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipeViewController.swift
Labels: core, presentation, feature

feat: bonapetit page
  Cheffin.xcodeproj/project.pbxproj
  Cheffin.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Cheffin/Core/Presentation/Components/ActivityViewController.swift
  Cheffin/Features/Recipes/Presentation/Components/CameraCaptureView.swift
  Cheffin/Features/Recipes/Presentation/Pages/FinishPage.swift
  Cheffin/Features/Recipes/Presentation/Pages/FinishViewController.swift
  Cheffin/Resources/Assets.xcassets/confetti.dataset/Contents.json
  Cheffin/Resources/Assets.xcassets/confetti.dataset/confetti.json
  Cheffin/Resources/XCAssets+Generated.swift
Labels: core, presentation, feature

refactor: visualcueviewmodel (#26)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Utils/String+Delimiters.swift
  Cheffin/Features/Recipes/Presentation/Components/StepByStepDescriptionView.swift
  Cheffin/Features/Recipes/Presentation/Components/VisualCueView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/VisualCueViewModel.swift
  CheffinTests/Core/Utils/String+DelimitersTest.swift
Labels: core, presentation, feature, test

refactor: resize font according to Figma
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/Components/ButtonHighlight.swift
  Cheffin/Features/Recipes/Presentation/Components/VisualCueView.swift
Labels: core, presentation, feature

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

core:
  - Cheffin/Core/**

resource:
  - Cheffin/Resource/**

domain:
  - Cheffin/Features/**/Domain/**

data:
  - Cheffin/Features/**/Data/**

presentation:
  - Cheffin/Features/**/Presentation/**

feature:
  - Cheffin/Features/**

test:
  - CheffinTests/**
  - CheffinUITests/**

documentation:
  - README.md
  - ./*.md
