Repository jss-mc2/Cheffin, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, core, resource, domain, data, presentation, feature, test, documentation

fix: on tap gesture and add Done button
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
Labels: presentation, feature

feat: bonapetit page (#27)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Cheffin/Core/Presentation/Components/ActivityViewController.swift
  Cheffin/Features/Recipes/Presentation/Components/CameraCaptureView.swift
  Cheffin/Features/Recipes/Presentation/Pages/FinishPage.swift
  Cheffin/Features/Recipes/Presentation/Pages/FinishViewController.swift
  Cheffin/Resources/Assets.xcassets/confetti.dataset/Contents.json
  Cheffin/Resources/Assets.xcassets/confetti.dataset/confetti.json
  Cheffin/Resources/XCAssets+Generated.swift
Labels: core, presentation, feature

refactor: resize font according to figma, fix on tap gesture, add add Button (#28)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/Components/ButtonHighlight.swift
  Cheffin/Features/Recipes/Presentation/Components/VisualCueView.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
Labels: core, presentation, feature

feat: auto text to speech in stepbystep mode and connect stepbystepmode with bon apetit page
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
  Cheffin/Features/Recipes/Presentation/Pages/FinishPage.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipeViewController.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: presentation, feature

fix: steps row in recipe page view
  Cheffin/Features/Recipes/Presentation/Components/StepsView.swift
Labels: presentation, feature

feat: auto text to speech in stepbystep mode and connect stepbystepmode with bon apetit page (#29)
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
  Cheffin/Features/Recipes/Presentation/Pages/FinishPage.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipeViewController.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: presentation, feature

fix: steps row in recipe page view (#30)
  Cheffin/Features/Recipes/Presentation/Components/StepsView.swift
Labels: presentation, feature

fix: add debouncer to only read the text of the last page
  Cheffin/Core/Presentation/ViewModels/TextToSpeech.swift
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: core, presentation, feature

Revert "feat: auto text to speech in stepbystep mode and connect stepbystepmode with bon apetit page (#29)"
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
  Cheffin/Features/Recipes/Presentation/Pages/FinishPage.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipeViewController.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: presentation, feature

fix: audio very low when playing alarm
  Cheffin/Core/Presentation/ViewModels/SpeechRecognizer/SpeechRecognizerViewModel.swift
  Cheffin/Features/Recipes/Presentation/Components/VisualCueView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: core, presentation, feature

fix: volume is too low after text to speech speaking
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/ViewModels/SpeechRecognizer/SpeechRecognizerViewModel.swift
  Cheffin/Core/Utils/AVAudioSession+PreferOutput.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: core, presentation, feature

fix: bug alarm did not stop when entering bon apetit page
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
Labels: presentation, feature

fix: alarm become very low when speech recognizer reset
  Cheffin/Core/Presentation/ViewModels/SpeechRecognizer/SpeechRecognizerViewModel.swift
  Cheffin/Core/Presentation/ViewModels/TextToSpeech.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: core, presentation, feature

feat: add go to page keyword
  Cheffin/Core/Presentation/ViewModels/PageViewModel.swift
  Cheffin/Core/Presentation/ViewModels/TimerViewModel.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: core, presentation, feature

feat: add debouncer to only speak last page (in case user click next page multiple time) (#32)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/ViewModels/PageViewModel.swift
  Cheffin/Core/Presentation/ViewModels/SpeechRecognizer/SpeechRecognizerViewModel.swift
  Cheffin/Core/Presentation/ViewModels/TextToSpeech.swift
  Cheffin/Core/Presentation/ViewModels/TimerViewModel.swift
  Cheffin/Core/Utils/AVAudioSession+PreferOutput.swift
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
  Cheffin/Features/Recipes/Presentation/Components/VisualCueView.swift
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: core, presentation, feature

fix: transciber still on in bon apetit page and previous did not run text to speech
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
Labels: presentation, feature

chore: add unit test
  Cheffin.xcodeproj/project.pbxproj
  CheffinTests/Core/Utils/String+DelimitersTest.swift
  CheffinTests/Features/Recipes/Domain/Parser/StepByStepParserTest.swift
Labels: test

fix: previous key did not invoke text to speech and transciber still running on bon apetit page (#34)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Presentation/Pages/StepByStepPageView.swift
  CheffinTests/Core/Utils/String+DelimitersTest.swift
  CheffinTests/Features/Recipes/Domain/Parser/StepByStepParserTest.swift
Labels: presentation, feature, test

fix: step by step vertical spacing in recipe page view
  Cheffin/Features/Recipes/Presentation/Components/StepsView.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
Labels: presentation, feature

fix: step by step vertical spacing in recipe page view (#35)
  Cheffin/Features/Recipes/Presentation/Components/StepsView.swift
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
Labels: presentation, feature

Update RecipeCard.swift
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
Labels: presentation, feature

Update RecipeCard.swift (#36)
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
Labels: presentation, feature

fix: refining padding in recipe page view
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
Labels: presentation, feature

fix: stop text to speech when navigating and fix go to page
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/ViewModels/TextToSpeech.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: core, presentation, feature

fix: stop text to speech when navigating and fix go to page (#37)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Core/Presentation/ViewModels/TextToSpeech.swift
  Cheffin/Features/Recipes/Presentation/ViewModels/StepByStepPageViewModel.swift
Labels: core, presentation, feature

fix: change sheet into fullscreen cover
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
Labels: presentation, feature

fix: recipe page view padding (#38)
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
Labels: presentation, feature

fix: change sheet into fullscreen cover (#39)
  Cheffin.xcodeproj/project.pbxproj
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
Labels: presentation, feature

fix: padding recipe page view
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
Labels: presentation, feature

Update RecipeCard.swift
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
Labels: presentation, feature

fix: padding recipe page view (#40)
  Cheffin/Features/Recipes/Presentation/Pages/RecipePageView.swift
Labels: presentation, feature

feat: Fixing feature/bug-fix-dika (#41)
  Cheffin/Features/Recipes/Presentation/Components/RecipeCard.swift
Labels: presentation, feature

build: version 1.1
  Cheffin.xcodeproj/project.pbxproj
Labels: none

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

core:
  - Cheffin/Core/**

resource:
  - Cheffin/Resource/**

domain:
  - Cheffin/Features/**/Domain/**

data:
  - Cheffin/Features/**/Data/**

presentation:
  - Cheffin/Features/**/Presentation/**

feature:
  - Cheffin/Features/**

test:
  - CheffinTests/**
  - CheffinUITests/**

documentation:
  - README.md
  - ./*.md
